<div class="wrapper">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header" data-background-color="blue">
              <h4 class="title" id="blog-title">Blogs</h4>
              <p class="category">
                Info : Click on any blog to view contents and click on stars to add/remove from favorites</p>
            </div>
            <div class="card-content table-responsive">
              <input class="form-control" type="text" name="search"
                     [(ngModel)]="filter" placeholder="Search blogs...">
              <table class="table">
                <thead class="text-capitalize text-gray">
                <tr>
                  <th (click)="sort('title')"><b>Blog Title</b>
                    <span class="glyphicon sort-icon" *ngIf="key =='title'"
                          [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let blog of blogs| orderBy: key : reverse |
                                    filter:filter| paginate: { itemsPerPage: 10, currentPage: p };">
                  <td (click)="getBlogDetails(blog.title);" class="pointer">
                    {{blog.title}}
                  </td>
                  <td class="pointer" (click)="markAsFavorite(blog)" *ngIf="checkIfExists(blog)">
                      <i class="material-icons">highlight_off</i>
                  </td>
                  <td class="pointer" (click)="markAsFavorite(blog)" *ngIf="!checkIfExists(blog)">
                    <i class="material-icons">stars</i>
                  </td>
                </tr>
                </tbody>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card info-cards" id="selectedBlogCard">
            <div class="card-header" data-background-color="red">
              <h4 class="title" id="blog-info-title">Blog Information</h4>
            </div>
            <div class="card-content table-responsive">
              <div *ngIf="selectedBlog==null">
                <i class="material-icons">info</i>
                <span>No blogs selected. Please click on a blog to view it's information.</span>
              </div>
              <div *ngIf="selectedBlog!=null">
                <div>
                  <h4><i>Blog Title : </i></h4>
                  <p class="category">{{selectedBlog.title}}</p>
                </div>
                <div>
                  <h4><i>Blog Description : </i></h4>
                  <p class="category">{{selectedBlog.body}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card info-cards" id="favouriteBlogs">
            <div class="card-header" data-background-color="red">
              <h4 class="title" id="blog-fav-title">Favorite Blogs</h4>
            </div>
            <div class="card-content table-responsive">
              <div *ngIf="!(favoriteBlogs?.length > 0)">
                <i class="material-icons">info</i>
                <span>No blogs marked as favorite. Please click on star next to blog to mark as favorite.</span>
              </div>
              <ul>
                <div *ngFor="let favoriteBlog of favoriteBlogs;">
                  <li>
                    <h4 class="title">{{favoriteBlog.title}}</h4>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
